
body {
  font-family: Copperplate, serif !important;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 72vh;

}

.container-available-arts {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  overflow: scroll;

}

.container-available-arts > div {
  margin-top: 2%;
  margin-bottom: 10%;
}

.containerArt {
  width: 40vh;
  height: 30vh;
  border-radius: 15px;
  transition: 0.5s ease-in-out;
  position: relative;
  cursor: pointer;
}

.containerArt:hover img {
  transition-duration: 0.5s;
  transform: translateY(0);
  cursor: pointer;
}

.containerArt img {
  width: 100%;
  height: 100%;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  position: relative;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transition-duration: 0.5s;
  transform: translateY(110px);


}

.artName {
  width: 100%;
  height: 100%;
  padding-left: 10px;
  padding-right: 0;
  box-sizing: border-box;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.6);
  margin-top: -5px;
}

.artName:hover {
  transform: translateY(0);

}

.btn-ava {
  background-color: red;
  margin-top: 10px;
}
