<div class="container">
<div class="request">
  <div class="user-header">
    <h3>Add new User</h3>
  </div>

  <p class="invalidForm" *ngIf="invalid">You forgot to fill in something</p>
  <p class="invalidForm" *ngIf="noneMatchingPasswords">The passwords don't match</p>

  <form [formGroup]="userForm">
    <div class="row">
      <div class="col-4">
        <label for="UserId">Username:</label>
        <input type="text" id="UserId" formControlName="username" required>
        <div>
        <label for="name">Name:</label>
        <input type="text" id="name" formControlName="name" required>
        </div>
        <label for="name">Surname:</label>
        <input type="text" id="surname" formControlName="surname" required>
        <label for="name">Email:</label>
        <input type="text" id="Email" formControlName="email" required>
      </div>

      <div class="col-4">
        <label for="role">Role:</label>
        <select id="role" formControlName="role" required>
          <option *ngFor="let role of roles" [ngValue]="role.role">{{ role.role }}</option>
        </select>
      </div>
    </div>

    <div class="row">
      <div class="col-4">
        <label for="password">Password:</label>
        <input type="password" id="password" formControlName="password" required>
      </div>

      <div class="col-4">
        <label for="validatePassword">Validate password:</label>
        <input type="password" id="validatePassword" formControlName="validatePassword" required>
      </div>
    </div>
  </form>

  <button (click)="onCancel()" class="btn btn-danger">Back</button>
  <button (click)="onAddUser()" class="btn btn-klm">Add user</button>
</div>
</div>

