<body class="navBody">

  <nav class="navbar navbar-expand-lg navbar-light badge-info"  >
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">

      <li class="nav-item">
      <li class="nav-item">
        <a  routerLink="upload-artwork" routerLinkActive="active" class="nav-link" href="#">Upload art</a>
      </li>
      <li class="nav-item">
        <a routerLink="loaned-arts" routerLinkActive="active"  class="nav-link" href="#">Loaned arts</a>
      </li>
      <li class="nav-item">
        <a routerLink="availabla-arts" routerLinkActive="active"  class="nav-link" href="#">Available arts</a>
      </li>
      <li class="nav-item">
        <a routerLink="wallet" routerLinkActive="active"  class="nav-link" href="#">Wallet</a>
      </li>
    </ul>
  </div>
</nav>

</body>
