.navBody{
  font-size: 1.1rem;
  font-family: Copperplate, serif !important;


}
.nav-item a.active{
  border: solid black 1px ;

}
.navbar{
  background-color: #495057;
}


.nav-item .fa-upload{
  margin-right: 10px;

}
.nav-item .fa-american-sign-language-interpreting{
  margin-right: 10px;
}
.nav-item .fas{
  margin-right: 10px;

}
.nav-item .fa-sign-out{
  margin-right: 10px;
}

.nav-item .fa-palette{
  margin-right: 10px;
}

.nav-item .fa-ad{
  margin-right: 10px;
}
.nav-item .fa-home{
  margin-right: 10px;
}

.navbar-nav{
  width: 100%;
  display: flex;
}

#custom-log-out{
  display: flex;
flex-grow: 100;
  justify-content: flex-end;
}

