
.container{
  background-color:#00a1de;
}
.userRole {
  display: inline;
  font-size: 1.1rem;
  font-family: Copperplate, serif ;
}
.container .fa-users{
  margin-right: 10px;
}

.users {
  border: #00a1de 1px solid;
  padding: 0.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: 5px;
  border-radius: 5px;
}



.btn-adduser{
  float: right;
  background-color: red;
}
