<div class="container">
<div class="users">
  <a class="btn btn-adduser" routerLinkActive="active" routerLink="add-user" ><i class="fas fa-plus"></i>
    Add user
  </a>

  <h1><i class="fas fa-users"></i>User overview</h1>

  <div class="row">
    <div class="col-3">
      <h3>Id</h3>
    </div>

    <div class="col-4">
      <h3>Name</h3>
    </div>

    <div class="col-3">
      <h3>Role</h3>
    </div>
  </div>
</div>
<div *ngFor="let user of users" class="users select" >
  <ng-container *ngTemplateOutlet="equipmentOverview; context: {user: user}"></ng-container>
</div>
</div>

<ng-template #equipmentOverview let-user="user">
  <div class="row">
    <div class="col-3 container-info">
      <h5>{{ user.id }}</h5>
    </div>
    <div class="col-4">
      <h5>{{ user.name }}</h5>
    </div>
    <div class="col-3">
      <h5 *ngIf="user.userType === 'AD'">Administrator</h5>
      <h5 *ngIf="user.userType === 'ST'">Student</h5>
      <h5 *ngIf="user.userType === 'EM'">Employee</h5>
    </div>
    <div>
      <button type="button" (click)="onDelete(user.id)" class="btn btn-default btn-sm">
      <i class="fas fa-trash"></i>
    </button>
      <button type="button" (click)="onViewUser(user)" class="btn btn-default btn-sm">
        <i class="fas fa-edit"></i>
      </button>
    </div>
  </div>

</ng-template>

