
body{
  height: 100%;
  max-height: 71vh;
  overflow: scroll;
  background-color: darkgray;
}
.container-available-arts{
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  overflow: scroll;
}
.container-available-arts > div{
  margin-top: 2%;
  margin-bottom: 5%;
}

.containerArt{
width: 40vh;
  height: 30vh;
  background-color: indianred;
  border-radius: 15px;
  transition:  0.5s ease-in-out;
}

.containerArt:hover{
-webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  cursor: pointer;
}

.containerArt img{
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

.artName{
  padding-left: 10px ;
  padding-right: 0 ;
}
