<html>
<body class="home-body">
<div class="container-home">
<!--  <div class="internal-containerL"><h1>Noviemoloye</h1><img class="homeimg" src="src/assets/employee.jpg">hoe gaat het bla blakjbkb bbbbkbbkjbj kbkbjbjkb bjkbjbjbjk bkjbkjbkjb bbjbkjbjkb-->
<!--    hvvbjhhjvjh jhbjbbhb</div>-->

  <div class="internal-containerM">
    <div class="title-about">
    <h2>About Us</h2>
    </div>
    <div class="aboutRow1">
      <h3>Input</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid aperiam, assumenda autem blanditiis
      consectetur consequatur dignissimos dolorem ducimus eligendi enim ipsum laborum, nam non possimus provident,
      reiciendis rem repellat voluptatem? </p>
    </div>
    <div class="aboutRow2">
      <h3>Input</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid aperiam, assumenda autem blanditiis
        consectetur consequatur dignissimos dolorem ducimus eligendi enim ipsum laborum, nam non possimus provident,
        reiciendis rem repellat voluptatem? </p>
    </div>
    <div class="aboutRow3">
      <h3>Input</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid aperiam, assumenda autem blanditiis
        consectetur consequatur dignissimos dolorem ducimus eligendi enim ipsum laborum, nam non possimus provident,
        reiciendis rem repellat voluptatem? </p>
    </div>
    </div>

  <div class="howWeWork">
    <div class="title-how-we-work">
      <h2>How we work</h2>
    </div>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias assumenda cupiditate deserunt
    dicta dolorem dolorum et eveniet ipsam magni similique? Iusto modi nesciunt non ut. Corporis fugiat mollitia praesentium recusandae.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores aut dignissimos enim iusto nulla saepe velit.
    Ab aliquam atque consectetur cum cupiditate doloribus ea ipsam quisquam recusandae. Ipsa, sunt, suscipit!
  </p>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias assumenda cupiditate deserunt
      dicta dolorem dolorum et eveniet ipsam magni similique? Iusto modi nesciunt non ut. Corporis fugiat mollitia praesentium recusandae.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores aut dignissimos enim iusto nulla saepe velit.
      Ab aliquam atque consectetur cum cupiditate doloribus ea ipsam quisquam recusandae. Ipsa, sunt, suscipit!
    </p>
    <div class="rowHowWeWork1">
      <div class="employee">
        <h4> Teacher</h4>
        <img style="width: 100px; height: 100px" src="../../../assets/employee.jpg">
      </div>
      <div class="student">
        <h4>Student</h4>
        <img style="width: 100px; height: 100px" src="../../../assets/students.jpg">
      </div>

    </div>
  </div>

<!--  <div class="internal-containerR"><h1>Novistudent</h1><img style="width: 100%; height: 100%" src="../../../assets/students.jpg">hoe gaat het bla blakjbkb bbbbkbbkjbj kbkbjbjkb bjkbjbjbjk bkjbkjbkjb bbjbkjbjkb-->
<!--    hvvbjhhjvjh jhbjbbhb</div>-->

</div>
</body>
</html>
