body{
  height: 73vh;
  font-family: Copperplate, serif !important;
}

.container-home{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  width: 100%;
  height: 100%;
  /*background: #ffc728;*/
  box-sizing: border-box;
  flex-direction: column;
  overflow: scroll;

}
.internal-containerM{
  background: red;
  padding: 10px;
  font-size: 12px;
  margin: 10px;
  display: flex;
  flex-direction: column;

}



.internal-containerM h3{
  display: flex;
  justify-content: center;
}
/*.internal-containerL{*/
/*  flex: 1;*/
/*  background: cyan;*/
/*  padding: 30px;*/
/*  flex-direction: row;*/
/*  margin: 10px;*/
/*  height: 60%;*/


/*}*/
/*.internal-containerR{*/
/*  flex: 1;*/
/*  background: black;*/
/*  padding: 30px;*/
/*  margin: 10px;*/
/*  height: 60%;*/
/*}*/
@media screen and (max-width: 768px){
  .container-home{
    flex-direction: column;
  }


}
.homeimg{
  background: lightgreen;
  width: 350px;
  padding: 3rem;
}

.title-about{
  display: flex;
  justify-content: center;
}

.howWeWork{
  display: flex;
  background-color: red;
  margin: 10px;
  flex-direction: column;
}
.title-how-we-work{
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 10px;
}

.rowHowWeWork1{
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}


