.container-home{
  overflow: scroll;
  font-family: Copperplate, serif !important;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  width: 100%;
  /*background: #ffc728;*/
  box-sizing: border-box;

}
.internal-containerM{

  flex: 3;
  background: red;
  padding: 30px;
  font-size: 12px;
  font-family: Roboto, sans-serif;
  margin: 10px;
}
.internal-containerL{
  flex: 1;
  background: cyan;
  padding: 30px;
  font-family: Roboto , sans-serif;
  flex-direction: row;
  margin: 10px;


}
.internal-containerR{
  flex: 1;
  background: black;
  padding: 30px;
  font-family: Roboto, sans-serif;
  margin: 10px;

}
@media screen and (max-width: 768px){
  .container-home{
    flex-direction: column;
  }


}
.home-img{

  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  position: relative;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  padding: 0;
  border-radius: 15px;
  margin-left: 0;
}
.internal-containerR h2{
  font-family: Copperplate, serif !important;
  font-size: 20px;

  color: white;
}
.internal-containerR h1{
  font-family: Copperplate, serif !important;

  color: white;

}
.internal-containerM h1{
  font-family: Copperplate, serif !important;
}
.internal-containerM h2{
  font-family: Copperplate, serif !important;
  font-size: 20px;
}
.internal-containerL h1{
  font-family: Copperplate, serif !important;
}
.internal-containerL h2{
  font-family: Copperplate, serif !important;
  font-size: 20px;
}
.internal-containerM img{
  width: 500px;
  height: 220px;
}

