<html>
<body class="home-body">
<div class="container-home">
  <div class="internal-containerL"><h1>Noviemoloye</h1><img class="home-img" [src]="myimage1"><h2>Why not? It’s the best way to find out if what you love works. Or even fits. Renting a piece of art gives you a chance
    to road test, experiment, or explore your taste — risk free.</h2></div>

  <div class="internal-containerM"><h1>About</h1><img  class="home-img" [src]="myimage3"><h2>
    At Noviartwork, we want you to be certain you love the artwork you select, that is why we rent art to Novistudents
    . Renting from Noviartwork lets you live with a painting or sculpture before making the
    commitment to purchase it. Although you can rent any work minimuum of three-month and maximuum of twolfe-month.</h2></div>

  <div class="internal-containerR"><h1>Novistudent</h1><img class="home-img" [src]="myimage2"><h2>Get  art in your home
    for a fixed monthly fee.
    We ship each work ready to hang.
    And we don't believe in minimum terms or hidden costs, so there aren't any.</h2></div>

</div>
</body>
</html>
