<html>
<body class="home-body">
<div class="container-home">
  <div class="internal-containerL"><h1>Noviemoloye</h1><img class="homeimg" src="src/assets/employee.jpg">hoe gaat het bla blakjbkb bbbbkbbkjbj kbkbjbjkb bjkbjbjbjk bkjbkjbkjb bbjbkjbjkb
    hvvbjhhjvjh jhbjbbhb</div>

  <div class="internal-containerM"><h1>About</h1>hoe gaat het bla blakjbkb bbbbkbbkjbj kbkbjbjkb bjkbjbjbjk bkjbkjbkjb bbjbkjbjkb
    hvvbjhhjvjh jhbjbbhb</div>

  <div class="internal-containerR"><h1>Novistudent</h1><img [src]="">hoe gaat het bla blakjbkb bbbbkbbkjbj kbkbjbjkb bjkbjbjbjk bkjbkjbkjb bbjbkjbjkb
    hvvbjhhjvjh jhbjbbhb</div>

</div>
</body>
</html>
