.login-background{

}

.login-content{
  background-image: url("../../../../assets/nachtwacht .jpg");
  display: flex;
  background-repeat: no-repeat;
  width: 100%;
  height: 75vh;
  background-position: center;
  background-size: cover;
  z-index: 0;
  position: relative;
  justify-content: center;
  align-items: center;

}

.login-from{
  width: 23%;
  height: 32vh;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}

.login-from input{
  border: lightgrey solid 1px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.login-from h2{
  margin-bottom: 20px;
  margin-top: 5px;
}

.login-from a:hover{
  cursor: pointer;
  color: deepskyblue;
}

.login-from button{
  margin-top: 5px;
  width: 40%;
  height: 6vh;
  background-color: white;
  border-radius: 10px;
  color: black;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
.login-from button:hover{
  background-color: deepskyblue;
  color: white;

}
