.login-background{

}

.login-content{
  background-image: url("../../../../assets/nachtwacht .jpg");
  display: flex;
  background-repeat: no-repeat;
  width: 100%;
  height: 80vh;
  background-position: center;
  background-size: cover;
  z-index: 0;
  position: relative;
  justify-content: center;
  align-items: center;

}

.login-from{
  width: 23%;
  height: 50vh;
  background:  rgba(0, 0, 0, 0.6);
  color: white;
;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}

.login-from input{
  /*border: lightgrey solid 1px;*/
  /*border-radius: 5px;*/
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
  margin-bottom: 10px;
  font-weight: lighter;
  color: #fff;

}

.login-from h2{
  margin-top: 6vh;
  margin-bottom: 20px;
  font-weight: lighter;
}

.login-from a:hover{
  cursor: pointer;
  color: red;
  font-weight: lighter;
}


.forgot-password{
  height: 20vh;
  display: flex;
}

.forgot-password a{
  align-self: center;

}

.login-from button{
  margin-top: 15px;
  width: 60%;
  height: 4vh;
  background-color: red;
  border-radius: 10px;
  color: black;
  -webkit-transition-duration: 3s; /* Safari */
  transition-duration: 0.4s;
  border-color: transparent;
  font-weight: lighter;
}


.login-from button:hover{
  /*background-color: deepskyblu;*/
  color: white;

}
