.login-background{

}

.login-content{
  background-image: url("../../../../assets/456536.jpg");
  display: flex;
  background-repeat: no-repeat;
  width: 100%;
  height: 75vh;
  background-position: center;
  background-size: cover;
  z-index: 0;
  position: relative;
  justify-content: center;
  align-content: flex-end;


}

.login-from{
  width: 30%;
  height: 10vh;
  background: red;

}
