


<body>
<div class="login-content">

  <div  [@slideInOut]="true" class="login-from">

    <h2>Sign in</h2>
    <label>
      <input class="form-control" placeholder="Username">
    </label>
    <label>
      <input class="form-control" style="margin-bottom: 0" placeholder="Password">
    </label>


    <button >Sign in</button>
    <div class="forgot-password">
    <a>Forgot your password?</a>
    </div>
  </div>

</div>
<!--<div class="contact-form">-->
<!--<h2>Login Form</h2>-->
<!--  <form action="">-->
<!--    <p>Email</p>-->
<!--    <input type="email" placeholder="Enter Email">-->
<!--    <p>Password</p>-->
<!--    <input type="password" placeholder="Enter Password">-->
<!--    <input type="submit" value="Sign In">-->
<!--    <p>Forgot your password?</p>-->

<!--  </form>-->
<!--</div>-->

</body>
