
.body_custom{
  background-color: #171a1d;
}
.body_custom.headerSd {
  text-align: center;
  padding: 50px;
  font-size: 125px;
}
.headerSd{
  width: 100%;
  height: 20vh;
  background-color: red;
  display: flex;
 justify-content: center;
}


.headerSd h1{
  align-self: center;
  color: white;
  font-family: monospace;
}

@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
    transform: translatey(-20px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
    transform: translatey(0px);
  }
}
.header-title{
  display: flex;

}
.homepage-title {
  align-self: center;
  font-weight: normal;
  font-family: Copperplate, serif !important;
  letter-spacing: 0.2vh;
  transform: translatey(0px);
  animation: float 6s ease-in-out infinite;

}
.homepage-title:hover{

   cursor: pointer;

}



