.body_custom.headerSd {
  text-align: center;
  padding: 50px;
  font-size: 125px;
}
.headerSd{
  width: 100%;
  height: 20vh;
  background-color: orangered;
  display: flex;

}


.headerSd h1{
  align-self: center;
  color: white;
  font-family: monospace;
}

.homepage-title {
  font-family:  "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

