<div mat-dialog-title>
  <h1>Rent a Art</h1>
</div>
<div mat-dialog-content class="container" >

  <form [formGroup]="loanForm" (ngSubmit)="saveLoan(loanForm.value)" >
  <div class="row">
    <div class="col-4">
      <label >Plaatsnaam</label>
      <input type="text" id="plaats" formControlName="plaats" required>
      <label >Straat en huisnummer:</label>
      <input type="text" id="surname" formControlName="straatHuisnummer" required>
      <label >Zipcode</label>
      <input type="text" id="Email" formControlName="zipcode" required>
    </div>

    <div class="col-4">
      <label for="Huur periode">Huur periode</label>
      <select name="Huur periode" id="huur periode" formControlName="duur" class="form-control">
        <option value="3 maanden">3 maanden</option>
        <option value="4 maanden">4 maanden</option>
        <option value="5 maanden">5 maanden</option>
        <option value="6 maanden">6 maanden</option>
        <option value="7 maanden">7 maanden</option>
        <option value="8 maanden">8 maanden</option>
        <option value="9 maanden">9 maanden</option>
        <option value="10 maanden">10 maanden</option>
        <option value="11 maanden">11 maanden</option>
        <option value="12 maanden">12 maanden</option>
      </select>
      <small class="form-text text-muted"> u mag maximaal 12 maanden huren</small>
    </div>
  </div>

  <div>
    <button type="submit" class="btn btn-primary"><i class="fas fa-check-circle"></i> Confirm</button>
  </div>
  <div>
    <button type="button" (click)="this.onExit()" class="btn btn-primary"><i class="fas fa-cancel"></i> Cancel</button>
  </div>
  </form>


</div>



