.container-artwork{
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  height: 73vh;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-around;


}

.form-control-artwork{
  width: 50%;
  height: 50vh;
  border: solid black 3px;
  display: flex;
  flex-wrap: wrap;
  background:  rgba(0, 0, 0, 0.6);
  color: white;
  border-radius: 5px;

  flex-direction: column;

}
form-control-artwork input{
  background: transparent;
}

.form-control-artwork-header{
  display: flex;
  align-self: center;
}



.uploaded-artwork{
  width: 40%;
  height: 20vh;
  background-color: lightblue;
  display: flex;
  flex-wrap: wrap;

}

.uploaded-artwork h2{
}

.form-control-artwork-inputs{
  height: 33vh;
  display: flex;
  align-items: center;
  flex-direction: column;

}

.btn-light{
  margin-top: 2vh;
}

.form-control-artwork-inputs button{
  margin-top: 5px;
}
.btn-choose .btn-success{
  background-color: red;
}
.btn-choose .btn-primary{
  background-color: red;

}.form-control-artwork .fa-upload{
  margin-right: 5px;
}
 .btn-choose input[type="file"]{
   display: none;

 }
 .btn-choose label{
   color: white;
   height: 40px;
   width: 200px;
   background-color: #f5af09;
   margin: auto;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   font-size: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
   font-family: Monaco,sans-serif;
 }

/*.form-control-artwork-inputs input[type=file]{*/
/*  color: transparent;*/
/*}*/

/*.new-btn{*/

/*  top: 45px;*/
/*  left: 70px;*/
/*  padding: 5px 5px;*/
/*  font-size: 15px;*/
/*  text-align: center;*/
/*  cursor: pointer;*/
/*  background: green;*/
/*  color: #fff;*/
/*}*/
/*#inp{*/

/*  left: 50px;*/
/*  top: 50px;*/
/*}*/
/*.btn-upload:hover{*/
/*  background: red;*/
/*  -webkit-transition: all 1s;*/
/*  -moz-animation: all 1s;*/

/*}*/
