body{
  font-family: Copperplate, serif !important;

}
.container-artwork{
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  height: 73vh;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-around;


}

.form-control-artwork{
  width: 30%;
  height: 50vh;
  display: flex;
  flex-wrap: wrap;
  background:  rgba(0, 0, 0, 0.6);
  color: white;
  border-radius: 5px;

  flex-direction: column;

}
form-control-artwork input{
  background: transparent;
}

.form-control-artwork-header{
  display: flex;
  align-self: center;
  margin-top: 5px;
}



.uploaded-artwork{
  width: 40%;
  height: 20vh;
  display: flex;
  flex-wrap: wrap;

}

.uploaded-artwork h2{
}

.form-control-artwork-inputs{
  height: 33vh;
  display: flex;
  align-items: center;
  flex-direction: column;

}

.btn-light{
  margin-top: 2vh;
}

.form-control-artwork-inputs button{
  margin-top: 5px;
}
.btn-choose .btn-success{
  background-color: red;
}
.btn-choose .btn-primary{
  background-color: red;

}.form-control-artwork .fa-upload{
  margin-right: 5px;
}

 .form-control-artwork-inputs  label{
   margin-bottom: 2.3vh;
 }

 .btn-success {
   font-size: 0.88em;
  border-radius: 10px;
 }

 .btn-choose {
   display: flex;
   width : 100%;
   justify-content: center;
   margin-bottom: 10px;
 }

 .uploadArt{
   font-size: 0.88em;
 }
.user-header {
  border-bottom: #00a1de 1px solid;
  background-color: white;
}
.container{
  background-color: #00a1de;
  width: 70vh;
  margin-left: 10vh;
  margin-top: 5vh;

}
.user-header{
  background-color: #00a1de;
}
.container .fa-user{
  margin-right: 10px;
}

.request {
  border: #00a1de 1px solid;
  padding: 1rem;
}
.backbutton{
  background-color: red;
  margin-left: 15px;
}
.adduserbtn{
  background-color: red;
  margin-right: 10px;
}

button {
  float: right;
  margin-top: 18px;
}

select {
  width: 100%;
  border-radius: 4px;
}

input {
  width: 100%;
  border-radius: 4px;
}

.invalidForm {
  width: 100%;
  border-bottom: #00a1de 1px solid;
}
.form-letter {
  font-family: Copperplate, serif !important;
}
.btn-primary{
  background-color: red;
  border-color: white;
}





